.about-us {
    margin-top: 128px;
    display: flex;
    justify-content: center;
    height: 336px;
}

.about-us div:first-child {
    margin-top: 24px;
    margin-right: 100px;
}

.about-us label {
    color: #282938;
    opacity: 1;
}

.about-us h1 {
    margin-top: 8px;
    width: 595px;
}

.about-us p {
    margin-top: 31px;
    width: 484px;
    font-size: 16px;
    line-height: 28px;
    text-align: justify;
    color: #282938;
    opacity: 0.7;
}

.about-us img {
    width: 547px;
    height: 336px;
}