@font-face {
    font-family: Poppins-Regular;
    src: url(res/fonts/Poppins-Regular.ttf);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

li {
    list-style-type: none;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

h1 {
    font-weight: 600;
    font-size: 54px;
    line-height: 74px;
    color: #000000;
}

h2 {
    font-size: 48px;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: #000000;
}

h3 {
    font-weight: 600;
    font-size: 38px;
    line-height: 56px;
    color: #000000;
}

h4 {
    font-weight: 500;
    font-size: 36px;
    line-height: 56px;
    color: #000000;
}

h5 {
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #000000;
}

h6 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

a {
    text-decoration: none;
    /* Убираем подчёркивание */
}

label {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #232536;
    opacity: 0.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

body {
    font-family: Poppins-Regular, serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    width: 100%;
}